In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Masood\Downloads\AB_NYC_2019.csv")

In [3]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [7]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [9]:
#dropping duplicates

In [11]:
df=df.drop_duplicates()
df=df.drop_duplicates(subset=['id'],keep='first')

In [13]:
#removing white spaces

In [15]:
str_cols=df.select_dtypes(include=['object']).columns
for c in str_cols:
    df[c]=df[c].astype(str).str.strip().replace({'nan': pd.NA})

In [17]:
#filling the host name and hostname with no name and missing host values

In [19]:
df['name']=df['name'].fillna("No Name").replace({'<NA>': "No Name"})
df['host_name']=df['host_name'].fillna("Missing Host").replace({'<NA>': "Missing Host"})

In [21]:
#coverting last review into date and filling the values with no data

In [23]:
df['last_review']=pd.to_datetime(df['last_review'],errors='coerce')

In [25]:
df['last_review']=df['last_review'].fillna("No Data").replace({'Nan': "No Data"})

In [27]:
#filling reviews per month

In [29]:
median=df['reviews_per_month'].median()
df['reviews_per_month']=df['reviews_per_month'].fillna(median).replace({'Nan':median})

In [31]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [33]:
df.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
36158,28739873,Arverne Bayside,195887266,Antonia,Queens,Arverne,40.59843,-73.79844,Entire home/apt,100,1,12,2019-05-30 00:00:00,2.29,1,65
12596,9683486,Mater bedroom in Roosevelt Island,39093118,Song,Manhattan,Roosevelt Island,40.75965,-73.95125,Private room,100,1,0,No Data,0.72,1,0
42039,32664976,Quiet 1BR at Union Square/East Village,245013643,Daria,Manhattan,Gramercy,40.73379,-73.98605,Entire home/apt,130,30,0,No Data,0.72,2,342
7602,5717355,Private 1 BR Apt in Exciting Bushwick,29641189,Joseph,Brooklyn,Williamsburg,40.70314,-73.93656,Private room,90,2,3,2019-06-02 00:00:00,1.73,1,18
37251,29596175,Private Room in the heart of Williamsburg,222782619,Carl,Brooklyn,Williamsburg,40.71560,-73.95233,Private room,150,2,7,2019-01-09 00:00:00,0.86,1,0